<div class='sign-form mx-auto'>
  <%= form_for (:session) do |f| %>
    <%= f.label :username, 'Enter your username' %>
    <br>
    <%= f.text_field :username, autocomplete: 'off' %>
    <br>
    <%= f.label :password, 'Enter your password' %>
    <br>
    <%= f.password_field :password, autocomplete: 'off' %>
    <br>
    <%= f.submit 'Sign in' %>
  <% end %>
  <a class='sign-link'>
    <%= link_to "Don't have an account yet?", '/signup' %>
  </a>
</div>
