<div class='sign-form'>
<%= form_for (:sign) do |f| %>
  <%= f.label :username, 'Enter your username' %>
  <br>
  <%= f.text_field :username, autocomplete: 'off' %>
  <br>
  <%= f.label :password, 'Enter your password' %>
  <br>
  <%= f.password_field :password, autocomplete: 'off' %>
  <br>
  <%= f.label :password, 'Confirm your password' %>
  <br>
  <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  <br>
  <%= f.submit 'Sign in' %>

<% end %>
<a class='sign-link'>
<%= link_to "Have an account?", '/sign' %>
</a>

</div>
