<% if room.name != '' %>
  <%= link_to room, :action => 'go' do %>
    <div class='d-flex mb-2 room'><div class='icon'><%= room.name[0].upcase %></div><p class='room-name'><%= room.name %></p></div>
  <% end %>
<% end %>
