<nav class="navbar fixed-top navbar-dark col-12 col-md-8 col-lg-6">
  <div class='mx-2'> <a class='go-back' href='<%= '/rooms' %>'> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
</svg></a></div>
</nav>
<div class='type-bar'>
<%= form_for (:roomcode) do |f| %>
  <%= f.label :roomcode, 'Enter Code for that room' %> <br>
  <%= f.text_field :roomcode, autocomplete: 'off', class: 'message-form' %>
  <%= f.submit '>', data: { disable_with: false },class: 'message-subm' %>
<% end %>
</div>
