<div class='create-form'>
<h1> Create a room </h1>
<%= render partial: "layouts/new_room_form" %>
</div>
      <%= turbo_stream_from "rooms" %>
      <div id="rooms" class='rooms'>
            <%= render @rooms %>
      </div>
