<script>
  function clear() {
    console.log("hello")
  }
  </script>
<head>
  <%= javascript_include_tag "messages", "data-turbolinks-track" => true  %>
  <style>
    <%= ".pos-#{current_user&.id}" %> {
      margin-left:auto;
      margin-right:0.5rem;
      text-align: right;
      border-radius: 1rem 1rem 0 1rem;
      background: #DF367C;
    }
  </style>
</head>

<nav class="navbar fixed-top navbar-dark col-12 col-md-8 col-lg-6">
  <div class='mx-2'> <a class='go-back' href='<%= '/rooms' %>'> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
</svg></a></div>
    <a class="navbar-brand" href="#"><%= @room.name %></a>
</nav>
<div class='container col-12 col-md-8 col-lg-6'>
<div id="messages" class='conversation'>
  <div class='messages d-inline mx-auto'>
    <% @messages.each do |message| %>
    <% if message.room_id == @room.id %>
    <div id='msg' class='message left'>
      <div class='user' id='user'>
        <a class='get_nick'><%= message.user.username %></a>
      </div>
      <div class='msg'>
        <a><%= message.body %></a>

      </div>
      </div>
        <% end %>
    <%  end %>
    <%= turbo_stream_from @room %>


  </div>
  <footer class='type-bar'>
    <%= form_for :new_message, remote: true, onsubmit: 'alert("hello")', data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }, id: 'new_message' do |f|%>
      <%= f.text_field :body, autocomplete: 'off', class: 'message-form', 'data-controller'=>"reset_form", id: 'message_content' %>
      <%= f.submit '>', data: { disable_with: false },class: 'message-subm', id: "button", onclick: "$('#new_message').bind('ajax:complete', function(event,xhr,status){$('#message_content').val('');})" %>
    <% end %>

  </footer>

</div>



</div>


<a class='' id='you' hidden><%= @user.username %></a>
