body {
  background: #202020;
  color: white;
}
.conversation {
  margin-left: auto;
  margin-right: auto;
  max-height: 80vh;
  overflow-y: scroll;
  margin-top: 64px;

}
.go-back,
.go-back:visited,
.go-back:hover {
  text-decoration: none;
  color: white;
}
nav {
  margin-left: auto;
  margin-right: auto;
}
.type-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.left {
  margin-right:auto;
  margin-left:0.5rem;
  text-align: left;
  border-radius: 1rem 1rem 1rem 0;
  background: #404040;
}
.right {
  margin-left:auto;
  margin-right:0.5rem;
  text-align: right;
  border-radius: 1rem 1rem 0 1rem;
  background: #DF367C; !important
}
.message {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  width: fit-content;
  max-width: 40%;
  word-break:break-all;


}
.conversation{
  margin-bottom: 40px;
}
div {
  font-size:1rem;
  color: white;
}
.user {
  font-size: 0.7rem;
  height: auto;
  width: fit-content;
  max-width: auto;
  word-break:break-all;
}
.get_nick,
.get_nick:visited,
.get_nick:hover {
  text-decoration: none;
  color: white;
}
.msg {
}
.message-form,
.message-subm {
  border-radius: 0;
  border: none;
  height: 2rem;

}
.message-form {
  background: #2f2f2f;
  width: 30%;
  border-radius: 5px 0 0 5px;
  color: white;
  height: 40px;
}
.message-subm {
  background: #1a1a1a;
  margin-left: -4px;
  width: 40px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  color: white;
}
@media only screen and (max-width: 768px) {
  .message-form {
    background: #2f2f2f;
    width: calc(100% - 41px);
    height: 40px;
    border-radius: 5px 0 0 5px;

  }
  .message-subm {
    margin-left: -4px;
    height: 40px;
    width: 40px;
    border-radius: 0 5px 5px 0;
  }
  .message {
    max-width: 80%;
  }
}
a,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
}
.room-name {

  margin: 0.2rem;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.2rem;

}
.room {
  margin: 1rem;
  width: fit-content;
  min-width: 20%;
  padding: 0.2rem;
  border-radius: 2rem 1rem 1rem 2rem;
  background: #303030;
}
.icon {
  font-weight: 900;
  font-size: 1.4rem;
  text-align: center;
  padding: 0.5rem;
  background: #DF367C;
  width: 3rem;
  height: 3rem;
  margin: 0.2rem;
  border-radius: 50%;
}
.message-box {
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555 ;
  padding: 10px
}
.navbar {
  background: #1a1a1a; !important
}
.create-form {
  margin-left: 1.5rem;
}
.room-form,
.room-submit,
.sign-form input {
  color: #fafafa;
  background: #101010;
  border: none;
  width: 16rem;
  height: 2.2rem;
  margin-top: 0.25rem;
}
.s {
  width: 8rem;
}
.room-submit,
.sign-form input:last-child {
  width: calc(8rem - 4px);
}
.sign-form {
  width: 100%;
  text-align: center;
}
/* placeholder */
::placeholder {
  color: #fafafa;
  opacity: 1;
}

:-ms-input-placeholder {
  color: red;
}

::-ms-input-placeholder {
  color: red;
}

/* Scroll */
/* width */
::-webkit-scrollbar {
  width: 0.4rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: #404040;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #252525;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303030;
}
