<%= form_for (:new_message) do |f|, data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } %>
  <%= f.text_field :body, autocomplete: 'off', class: 'message-form'  data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }%>
  <%= f.submit '>', data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" },class: 'message-subm' %>
<% end %>
