<%= form_with(model: @user, remote: true do |f| %>
  <%= f.text_field :username, autocomplete: 'off' %>
  <%= f.password_field :password, autocomplete: 'off' %>
  <%= f.submit data: { disable_with: false } %>
<% end %>
