<%= form_with(model: @room, remote: true) do |f| %>
  <%= f.text_field :name, autocomplete: 'off', placeholder: "Room Name", class: 'room-form' %><br>
  <%= f.text_field :code, autocomplete: 'off', placeholder: "Room code", class: 'room-form s' %>
  <%= f.submit data: { disable_with: false }, class: 'room-submit' %>
<% end %>
